body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

.pageHeader {
    text-align: center;
    background-color: #0606c3;
    color: white;
    padding: 10px;
}

.searchBox {
    margin-top: 5px;
    margin-bottom: 5px;
}

#searchButton {
    width: 100%;
}