body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

.pageHeader {
    text-align: center;
    background-color: #0606c3;
    color: white;
    padding: 10px;
}
/* 
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
 */
